@import url(./style.css);
.App {
    text-align: center
}

.App-logo {
    height: 40vmin;
    pointer-events: none
}

@media(prefers-reduced-motion:no-preference) {
    .App-logo {
        -webkit-animation: App-logo-spin 20s linear infinite;
        animation: App-logo-spin 20s linear infinite
    }
}
:root{
    --colorGeen:#006837;
    --colorGeenLight: #1E9041;
    --colorGeenDark: #145528;
    --colorWhite: #FFFFFF;
    --colorRed: #B10707;
    --colorYellow: #FFBB01;
}

button{
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}
button::after{
    content: "";
    background-color: var(--colorGeenLight);
    border-radius: none;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}
button:hover::after{
    top: 0;
    left: 0;
    background-color: var(--colorWhite);
    color: var(--colorGeenLight);
}

/* BACKGROUND MOVE */
.button-background-move {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: var(--colorWhite);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
  
  .button-background-move:after {
    content: "";
    background-color: var(--colorRed);
    border-radius: 3px;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 3px;
    left: 3px;
    transition: 0.2s;
  }
  
  .button-background-move:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button-background-move {
      padding: 13px 50px 13px;
    }
  }
.warp{
    width: 100%;
    position: relative;
}
.top_line{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.top_line .top_line_content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 33px;
    width: 1305px;
    height: 40px;
    left: 243px;
    top: 2px;
    margin: 0 auto;
}
.top_line .top_line_content>.hotline_email{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 15px;
}
.top_line .top_line_content>.welcomeUser{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 15px;
}
.top_line .top_line_content>.welcomeUser h5{
    display: flex;
    gap: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}
.top_line .top_line_content>.welcomeUser h5 span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    gap: 5px;
    color: var(--colorGeenLight);
}
.top_line .top_line_content>.welcomeUser h5 span i{
    color: var(--chakra-colors-blackAlpha-500)
}
.top_line .top_line_content .hotline_email>.dot_hotline{
    width: 1px;
    height: 18px;
    background: #006837;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
}
.top_line .top_line_content>.hotline_email h5{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #145528;
    flex: none;
    flex-grow: 0;
}
.top_line .top_line_content>.hotline_email h5.hot_number{
    cursor: pointer;
    order: 0;
}
.top_line .top_line_content>.hotline_email h5.hot_email{
    cursor: pointer;
    order: 2;
}
.top_line .top_line_content>.hotline_email h5:hover{
    position: relative;
}
.top_line .top_line_content>.hotline_email h5:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    background-color: var(--colorGeenLight);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.top_line .top_line_content>.flag_language{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
}
.top_line .top_line_content>.flag_language .xesanbay-flagkjngdom{
    width: 25px;
}
.top_line .top_line_content>.flag_language h5{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: var(--chakra-colors-blackAlpha-500);
    flex: none;
    order: 2;
    flex-grow: 0;
}
.btn-hotline-color{
    background-color: var(--colorGeenLight)!important;
    color: var(--chakra-colors-white);
}
.color-menu-sub{
    background-color: transparent;
}
.al-mn-nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.al-mn-nav-item-link{
    font-size: 24px;
    color: var(--chakra-colors-white)!important;
}
.al-mn-nav-item:hover{
    position: relative;
}
.al-mn-nav-item:hover::after{
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--chakra-colors-white);
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
}
.al-mn-btn-cta{
    width: auto;
}
.al-mn-btn-cta button{
    font-size: 20px;
}

/**Top Menu**/
.navbar-dark{
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 1000;
}

/**Top Banner**/
.topBanner{
    position: relative;
    width: 100%;
    min-height: 929px;
    background-color: var(--colorGeenDark);
    background-image: url(../images/bg_audi.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: calc(1.5rem * 6);
}

@keyframes animate {

    0%{
        transform: translateX(0);
        opacity: 1;
        border-radius: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}

    100%{
        transform: translateX(-1000px);
        opacity: 1;
        border-radius: 50%;
        -webkit-transform: translateX(-1000px);
        -moz-transform: translateX(-1000px);
        -ms-transform: translateX(-1000px);
        -o-transform: translateX(-1000px);
}

}
@media (min-width:1200px) {
    .topBanner{min-height: 94vh;}
}
.slogan{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.slogan h1{
    color: var(--chakra-colors-white);
    text-transform: uppercase;
    padding: 8px 0;
}
.slogan h1:first-child{
    font-size: 4rem;
    font-weight: 700;
}
.slogan h1:nth-child(2){
    font-size: 3.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.slogan h1:nth-child(3){
    font-size: 3.5rem;
    font-weight: 700;
}
.icar{
    position: absolute;
    bottom: calc(100vh - 90%);
    z-index: 1000;
}
.icar img{
    zoom: 0.8;
}

/**form regis**/
.form-registers{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    gap: 10px;
    position: relative;
    width: 100%;
    z-index: 2;
    background: transparent;
}
.form-registers .title-regis{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
    padding: 0px;
    gap: 18px;
    width: 100%;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.form-registers .title-regis .tab-btn-regis{
    display: flex;
    gap: 20px;
    width: 100%;
}
.form-registers .title-regis .tab-btn-regis>button::after{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.form-registers .title-regis h2{
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 29px;

    text-transform: uppercase;

    color: var(--colorWhite);
}
.form-registers .switchbtn button i{
    font-size: 25px;
}
.form-registers .title-regis button,
.form-registers .switchbtn button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 10px;
    gap: 6px;
    color: var(--chakra-colors-white);

    height: 30px;

    background: var(--colorGeenLight);
    border-radius: 50px;
    word-wrap: normal;
}
.form-registers .switchbtn button{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 1rem;
    letter-spacing: normal;
    padding: 1px     5px;
}
.form-registers .title-regis button:active,
.form-registers .title-regis button:focus,
.form-registers .title-regis button:hover,
.form-registers .switchbtn button:hover{
    background: var(--colorGeenDark);
}

.form-registers .form-content{
    display: flex;
    gap: 20px;
    width: 100%;
}
.form-registers .form-content label{
    color: var(--colorWhite);
}
.form-registers .form-content label i{
    color: var(--colorGeenDark);
}
.form-registers .form-content .form-content-lr{
    width: 50%;
}
.form-registers .form-content .form-content-lr:nth-child(2){
    padding-top: 25px;
}

.swich-air-longway-sc{
    display: none;
}
.ldot{
    width: 16px;
    height: 15px;
    background-color: var(--colorGeenDark);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    z-index: 1;
}
.ldot::after{
    content: '';
    position: absolute;
    border: 1px solid var(--colorGeenDark);
    z-index: 0;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: -3px;
    left: -2px;
}
.switchButton{
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr;
    align-items: center;
    padding: 0px;
    height: 38px;
}
.voucherForm{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.voucherForm p{
    font-size: 14px;
    font-weight: bold;
}
.voucherForm p:first-child{
    color: var(--chakra-colors-blackAlpha-900);
}
.voucherForm p:last-child{
    color: var(--chakra-colors-blackAlpha-500);
}
.voucherForm .addvoucher{
    background-color: transparent;
}
.calcu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    margin-top: 15px;
    padding: 15px 0;
    border-top: 1px dotted var(--chakra-colors-whiteAlpha-500);
}
.calcu .tit-cal{
    font-size: 14px;
    color: var(--colorWhite)
}
.calcu .tit-cal i{
    padding-right: 10px;
}
.calcu .moneyColors{
    color: var(--chakra-colors-red-600);
    font-size: 14px;
    font-weight: bold;
}
.addNote{
    cursor: pointer;
    color: var(--colorGeenLight);
    padding-bottom: 5px;
    display: block;
}
.btnCallCar{
    width: 100%;
}
.btnCallCar{
    width: 100%;
}
.btnCallCar>button{
    background-color: var(--colorGeenLight)!important;
    font-size: 20px;
    font-weight: 500;
    color: var(--chakra-colors-white);
    width: 100%;
    padding: 10px 0;
    border: 1px solid var(--chakra-colors-blackAlpha-900);
}
.btnCallCar>button:hover{
    background-color: var(--colorWhite)!important;
    color: var(--colorGeenLight)
}

.click-ontop{
    display: flex;
    flex-direction: column;
    min-width: 80px;
    min-height: 80px;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: var(--colorWhite);
    line-height: 2px;
    position: fixed;
    bottom: 90px;
    right: 0;
    z-index: 1000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.click-ontop:hover i,
.click-ontop:hover{
    color: var(--colorGeenLight)
}
.click-ontop i{
    font-size: 40px;
    color: var(--chakra-colors-blackAlpha-900)
}

/* modal */
.dialog-call-car-content{
    background-color: #E4E4E4;
    border: transparent;
    padding: 20px 30px;
}
.dialog-call-car-header{
    border: transparent !important;
    display: flex;
    justify-content: center;
}
.dialog-call-car-header h5{
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--colorGeenDark);
}
.info-dialog hr{
    margin: 15px 0;
    border: 1px dotted var(--chakra-colors-blackAlpha-200);
}
.info-dialog div div{
    gap: 5px;
}
.info-dialog div div div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/**service table**/
.serviceTable{
    width: 100%;
    padding-top: 150px;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.serviceTable h1{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--colorGeenLight);
    text-align: center;
    padding-bottom: 50px;
}
.serviceCard{
    width: 100%;
    border: 1px solid var(--chakra-colors-blackAlpha-300);
    padding: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}  
.serviceCard:hover{
    border: 1px solid var(--colorGeenLight)
}
.serviceCard .carImg{
    width: 100%;
    padding: 20px 0;
}
.serviceCard .carImg p{
    font-size: 14px;
    color: var(--chakra-colors-blackAlpha-600);
}
.serviceCard .ServiceContent{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    text-align: left;
}
.serviceCard .ServiceContent p{
    color: var(--chakra-colors-blackAlpha-900);
    padding: 5px 0;
}
.serviceCard .ServiceContent p:first-child{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.serviceCard .ServiceContent p:nth-child(){
    font-size: 14px;
}
.serviceCard:hover .ServiceContent p{
    color: var(--colorGeenLight);
}
.serviceCard:hover .ServiceContent p:first-child{
    color: var(--colorGeenLight);
}

.serviceCard>button{
    background-color: var(--chakra-colors-white);
    border: 1px solid var(--colorGeenLight);
    font-size: 20px;
    font-weight: 500;
    color: var(--colorGeenDark);
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
}
.serviceCard>button:hover{
    background-color: var(--colorGeenLight);
    color: var(--chakra-colors-white);
}
.activeService{
    border: 1px solid var(--colorGeenLight);
    color: var(--colorGeenLight);
}
.activeService .ServiceContent p{
    color: var(--colorGeenLight);
}
/* .activeService>button{
    background-color: var(--colorGeenLight);
    color: var(--chakra-colors-white);
} */
.activeService>button:hover{
    background-color: var(--colorGeenLight);
    color: var(--chakra-colors-white);
}

/* Benerfit */
.benerfit{
    background-image: url(../images/bg_car.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    margin-top: 80px;
    min-height: 800px;
}
.benerfit h1{
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--chakra-colors-white);
    text-align: center;
}
.benerfit .bxBenerfit{
    background-color: transparent;
    background-image: linear-gradient(90deg, rgba(20,85,40,0.8015581232492998) 0%, rgba(20,85,40,0.8) 100%);
    width: 40%;
    top: 22%;
    right: 0;
    position: absolute;
    transform: translate(0% 25%);
    -webkit-transform: translate(0% 25%);
    -moz-transform: translate(0% 25%);
    -ms-transform: translate(0% 25%);
    -o-transform: translate(0% 25%);
}
.cntBenerfit{
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    width: 400px;
}
.cntBenerfit .clList{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px 0;
}
.cntBenerfit .clList .iconBenerFit{
    color: var(--chakra-colors-white);
    font-size: 32px;
}
.cntBenerfit .clList .cntTextBenerFit{
    display: flex;
    flex-direction: column;
}
.cntBenerfit .clList .cntTextBenerFit p{
    color: var(--chakra-colors-white);
}
.cntBenerfit .clList .cntTextBenerFit p:first-child{
    font-size: 16px;
    font-weight: 700;
}
.cntBenerfit .clList .cntTextBenerFit p:nth-child(2){
    font-size: 13px;
    font-weight: 300;
}
.cntBenerfit .clList>button{
    background-color: var(--chakra-colors-white);
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

/* guide call */
.guide-call{
    width: 100%;
    padding: 80px 0;
    background-color: var(--chakra-colors-blackAlpha-200)
}
.guide-call-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 80px;
}
.guide-call-content .list-guide-call{
    width: 100%;
}
.guide-call-content .list-guide-call h2{
    font-weight: 700;
    font-size: 26px;
    color: var(--chakra-colors-blackAlpha-900)
}
.guide-call-content .list-guide-call .sub-guide{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.guide-call-content .list-guide-call .sub-guide p{
    font-size: 18px;
    font-weight: 500;
}
.guide-call-content .list-guide-call .sub-guide p:first-child{
    color: var(--chakra-colors-blackAlpha-600);
}
.guide-call-content .list-guide-call .sub-guide p:nth-child(2){
    color: var(--chakra-colors-red-600);
}

/* payment guide */
.payment-guide{
    width: 100%;
    padding: 80px 0;
}
.payment-guide h1{
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--colorGeenLight);
    text-align: center;
}
.pay-guide-pic{
    width: 100%;
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
}
.pay-guide-pic .items {
    display: flex;
    position: absolute;
    flex-direction: column;
    max-width: 300px;
}
.pay-guide-pic .items h2{
    color: var(--colorGeenLight);
    font-weight: 500;
    font-size: 26px;
}
.pay-guide-pic .items p{
    font-size: 20px;
     color: var(--chakra-colors-blackAlpha-900);
}
.pay-guide-pic .items:nth-of-type(1){
    left: 50px;
}
.pay-guide-pic .items:nth-of-type(2){
    right: 50px;
}
.pay-guide-pic .items:nth-of-type(3){
    left: 50px;
    bottom: 0;
}
.pay-guide-pic .items:nth-of-type(4){
    bottom: 0;
    right: 50px;
}
.payment-guide .ctaPay{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.payment-guide .ctaPay>button{
    background-color: var(--colorGeenDark);
    color: var(--chakra-colors-white);
    width: 30%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    
}
/* .payment-guide .ctaPay>button:hover{
    background-color: var(--chakra-colors-white);
    border: 1px solid var(--colorGeenLight);
    color: var(--colorGeenLight);
} */

/* customer */
.customer-speak {
    width: 100%;
}
.customer-speak h1{
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--colorGeenLight);
    text-align: center;
    padding-bottom: 50px;
}
.customer-speak .customer-evaluate{
    display: flex;
    flex-direction: column;
}
.cust-evalue{
    display: flex;
}
.customer-speak .customer-evaluate .pic-rate{
    display: flex;
    width: 67.333%;
}
.customer-speak .customer-evaluate .pic-rate .pic-rate-star{
    width: 50%;
}
.customer-speak .pic-rate .pic-rate-pie{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.customer-speak .customer-evaluate .pic-rate-btn{
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
.customer-speak .customer-evaluate .pic-rate .pic-rate-star .number{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.customer-speak .customer-evaluate .pic-rate .pic-rate-star .number h2{
    color: var(--colorRed);
    font-weight: 700;
    font-size: 4rem;
}
.customer-speak .customer-evaluate .pic-rate .pic-rate-star .number .stars{
    display: flex;
    gap: 5px;
}
.customer-speak .customer-evaluate .pic-rate .pic-rate-star .number .stars i{
    color: var(--colorYellow);
}
.customer-speak .customer-evaluate .pic-rate .pic-rate-pie .r-pie{
    display: flex;
    gap: 10px;
}
.customer-speak .customer-evaluate .pic-rate .pic-rate-pie .r-pie .r-pie-star{
    color: var(--colorYellow);
}
.customer-speak .customer-evaluate .pic-rate .pic-rate-pie .r-pie .pie-progress{
    width: 100%;
}
.customer-speak .customer-evaluate .pic-rate .pic-rate-pie .r-pie .pie-progress>.progress-bar-color{
    background-color: var(--colorGeenLight);
}
.customer-speak .customer-evaluate .pic-rate .pic-rate-btn button{
    text-transform: uppercase;
}
.customer-speak .customer-evaluate .evaluates{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    gap: 25px;
}
.customer-speak .customer-evaluate .evaluates .top-eva{
    width: 100%;
    padding: 20px 20px;
    background-color: var(--chakra-colors-blackAlpha-300);
    display: flex;
    gap: 50px;
}
.customer-speak .customer-evaluate .evaluates .top-eva .eva-star{
    display: flex;
    gap: 10px;
    color: var(--colorGeenDark);
}
.customer-speak .customer-evaluate .evaluates .top-eva .eva-star i{
    font-size: 2rem
}
.customer-speak .customer-evaluate .evaluates .top-eva h3{
    color: var(--chakra-colors-blackAlpha-500);
    font-weight: 300;
}

.customer-speak .customer-evaluate .evaluates .list-evalua{
    display: flex;
    flex-direction: column;
    padding: 0 calc(10% - 30px);
}
.customer-speak .customer-evaluate .evaluates .list-evalua .item-lst{
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border: none;
}
.customer-speak .customer-evaluate .evaluates .list-evalua .item-lst .items-evalua h2{
    margin-bottom: 1.2rem;
}
.customer-speak .customer-evaluate .evaluates .list-evalua .item-lst .items-evalua h6 i{
    color: var(--colorYellow);
    font-size: 1.4rem;
}
.customer-speak .customer-evaluate .evaluates .list-evalua .item-lst .items-evalua p{
    font-size: 1.2rem;
}
.customer-speak .customer-evaluate .evaluates .list-evalua .item-lst .items-evalua a{
    color: var(--colorGeenLight);
    text-decoration: none;
    font-size: 1.2rem;
}
.lst-picture{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 10px 0;
}



/* CTA Section */
.cta-Section{
    background-image: url(../images/green-gb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--colorGeenDark);
    width: 100%;
    min-height: 281px;
    margin-top: 80px;
}
.cta-section-ct{
    min-height: 281px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cta-section-ct p{
    font-weight: 800;
    color: var(--chakra-colors-white);
}
.cta-section-ct p:first-child{
    font-size: 20px;
    text-transform: uppercase;
}
.cta-section-ct p:last-child{
    font-size: 40px;
    text-transform: uppercase;
}
.cta-button-sc{
    width: 100%;
    min-height: 281px;
    display: flex;
    align-items: center;
}
.cta-button-sc>button{
    background-color: var(--colorGeenLight);
    color: var(--chakra-colors-white);
    width: 50%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.cta-button-sc>button:hover{
    background-color: var(--chakra-colors-white);
    border: 1px solid var(--chakra-colors-white);
    color: var(--colorGeenDark);
}

.list-btn-fixed{
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 10px;
    right: 50px;
    transform: translate(50%, 150%);
    z-index: 1000;
}
.list-btn-fixed a{
    margin: 10px 0;
    display: block;
}
.list-btn-fixed a img{
    zoom: 0.8;
}

/* custormer */
.customer-bx{
    position: relative;
}
.swiper-customer{
    width: 1200px;
    overflow: hidden;
    padding: 0 50px;
}
.swiper-customer .swiper-wrapper{
    width: 100%;
}
.swiper-customer .swiper-slide{
    width: 400px;
    padding: 0 10px;
}

.customer-bx .swiper-button-prev{
    background-image: url(../images/carbon_next-outline.png);
    width: 50px;
    height: 50px;
    top: 43%;
}
.customer-bx .swiper-button-next{
    background-image: url(../images/carbon_next-outline-1.png);
    width: 50px;
    height: 50px;
    top: 43%;
}
.customer-bx .swiper-button-next::after,
.customer-bx .swiper-button-prev::after {
    display: none;
  }
/* news */
.swiper-news{
    width: 1200px;
    overflow: hidden;
}
.swiper-news .swiper-wrapper .swiper-slide{
    min-width: 400px;
}
.news{
    width: 100%;
    padding: 80px 0;
}
.news h1{
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--colorGeenLight);
    text-align: center;
    padding-bottom: 50px;
}
.items-news{
    background-color: var(--chakra-colors-blackAlpha-100);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.items-news a{
    text-decoration: none;
}
.items-news a:hover>.news-content p{
    color: var(--colorGeenLight)
}
.items-news .thumb-pic{
    width: 100%;
    max-height: 272px;
    background-size: cover;
    box-sizing: border-box;
    padding: 15px;
}
.items-news .thumb-pic img{
    background-size: cover;
    box-sizing: border-box;
}
.items-news .news-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}
.items-news .news-content p{
    color: var(--chakra-colors-blackAlpha-900);
    text-align: left;
}
.items-news .news-content p:first-child{
    font-size: 20px;
    font-weight: 700;
}
.items-news .news-content p:last-child{
    font-size: 16px;
}

/* price list */
.price-list {
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
}
.table-dark-price{
    background-color: var(--colorGeenDark)!important;
    color: var(--chakra-colors-white);
}
.price-list h1{
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--colorGeenLight);
    text-align: center;
    padding-bottom: 50px;
    margin-top: 80px;
}
.price-list table thead tr td{
    font-size: 16px;
    font-weight: 700;
}
.price-list .note{
    width: 100%;
}
.price-list .note p{
    font-size: 20px;
    color: var(--chakra-colors-red-600);
}
.price-list .note p:first-child{
    font-weight: 800;
}
.price-list .note p:nth-child(n){
    font-style: italic;
}
/* footer */
.footer {
    width: 100%;
    background-color: var(--chakra-colors-blackAlpha-100);
    display: flex;
    flex-direction: column;
}
.footer .ft-ft{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.footer .copyright{
    background-color: var(--colorGeenLight);
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.footer .copyright p{
    color: var(--chakra-colors-blackAlpha-900);
    font-size: 14px;
}

/* mobile and table */
@media only screen and (max-width: 63.9375em){
    .menu-top-navi{
        flex-direction: row-reverse;
    }
    .al-mn-nav{
        width: 100%;
    }
    .al-mn-nav-item-link{
        color: var(--chakra-colors-blackAlpha-500);
    }
    .menu-top-navi-coll{
        background-color: var(--chakra-colors-blackAlpha-900);
    }
    .topBanner{
        height: 100%;
        min-height: 100%;
        padding-top: 7rem;
        display: flex;
        flex-shrink: 1;
        padding-bottom: 50px;
    }
    .slogan h1:first-child{
        font-size: 1.3rem;
    }
    .slogan h1:nth-child(2){
        font-size: 2rem;
    }
    .form-registers{
        margin-top: 10px
    }
    .form-registers .form-content{
        flex-direction: column;
    }
    .form-registers .form-content .form-content-lr{
        width: 100%;
    }
    .form-registers .form-content .form-content-lr:nth-child(2){
        padding-top: 0;
    }
    .form-registers .title-regis .tab-btn-regis{
        justify-content: center;
    }

    /* Service Tab */
    .serviceTable{
        padding-top: 50px;
    }
    .service-card{
        gap: 20px;
    }
    .service-air{
        flex-direction: column;
    }
    .serviceCard .carImg{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Guide call */
    .guide-call{
        padding-top: 0;
    }
    .tt-guide-call{
        display: flex;
        justify-content:center;
    }
    .guide-call-content{
        padding: 3rem calc(1.5rem * 3) 0;
    }

    /* payment guide */
    .items-pay-guide{
        width: 33.333%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .pay-guide-pic img{
        width: fit-content;
        height: fit-content;
        padding-top: 5rem;
        width: 67.333%
    }
    .pay-guide-pic .items:nth-of-type(1),
    .pay-guide-pic .items:nth-of-type(2),
    .pay-guide-pic .items:nth-of-type(3),
    .pay-guide-pic .items:nth-of-type(4)
    {
        position: revert;
    }
    .pay-guide-pic .items:nth-of-type(1){
        position: absolute;
        left: 20px;
    }
    
    .pay-guide-pic .items:nth-of-type(4){
        position: absolute;
        right: auto;
        left: 0;
    }
    .pay-guide-pic .items h2{
        font-size: 1.2rem
    }
    .pay-guide-pic .items p{
        font-size: 1rem;
        width: 115px;
    }
    .payment-guide .ctaPay>button{
        width: 100%;
    }

    /* benerfit */
    .benerfit .bxBenerfit{
        top: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .benerfit{
        padding: 40px 0 0 0;
        margin-top: 80px;
    }
    .benerfit h1{
        position: relative;
        font-size: 1.5rem;
        z-index: 1;
    }
    .cntBenerfit{
        width: 100%;
        height: 100%;
        justify-content: center;
        padding: 40px calc(1.5rem * 1.3)
    }
    
    .cntBenerfit .clList{
        width: 100%;
    }
    .cntBenerfit .clList .iconBenerFit{
        font-size: 3rem;
    }
    .cntBenerfit .clList .cntTextBenerFit{
        width: 100%;
    }
    .cntBenerfit .clList .cntTextBenerFit p:first-child{
        font-size: 1.5rem;
    }
    .cntBenerfit .clList .cntTextBenerFit p:nth-child(2){
        font-size: 1.2rem
    }

    /* customer speak */
    .customer-speak .customer-evaluate .pic-rate .pic-rate-star .number h2{
        font-size: 3rem
    }
    .customer-speak .customer-evaluate .pic-rate .pic-rate-star .number .stars i{
        font-size: .8rem;
    }
    .customer-speak .customer-evaluate .pic-rate .pic-rate-btn button{
        font-size: .8rem;
    }
    .cust-evalue{
        flex-direction: column;
    }
    .customer-speak .customer-evaluate .pic-rate{
        width: 100%;
    }
    .customer-speak .customer-evaluate .pic-rate .pic-rate-star{
        width: 30%;
    }
    .customer-speak .pic-rate .pic-rate-pie{
        width: 70%;
    }
    .customer-speak .customer-evaluate .pic-rate-btn{
        width: 100%;
        padding: 50px 0;
    }
    .customer-speak .customer-evaluate .pic-rate-btn button{
        width: 50%;    
    }
    .customer-speak .customer-evaluate .evaluates .top-eva .eva-star i{
        font-size: 1.3rem;
    }
    .customer-speak .customer-evaluate .evaluates .top-eva h3{
        font-size: 1.3rem;
    }

    /* CTA Section */
    .cta-section-ct{
        min-height: 150px
    }
    .cta-button-sc{
        justify-content: center;
        min-height: 60px
    }
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .topBanner{
        padding-top: calc(1.5rem * 4);
    }
    .slogan h1:first-child{
        font-size: 2rem;
    }
    .form-registers .form-content{
        flex-direction: row;
    }
    .form-registers .form-content .form-content-lr:nth-child(2){
        padding-top: 25px;
    }

    .pay-guide-pic img{
        padding-top: 3rem;
    }
    .pay-guide-pic .items p{
        width: 155px;
    }
    .pay-guide-pic .items:nth-of-type(4){
        position: relative;
    }
    .cta-section-ct,
    .cta-button-sc{
        min-height: 281px;
    }
    .cta-button-sc>button{
        width: 100%;
    }
}